@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-color: #54AE7E;
  --blue-color: #C8E1FC;
  --yellow-color: #EDC745;
}

.bg-green {
  background-color: var(--green-color);
}

.bg-yellow {
  background-color: var(--yellow-color);
}

.bg-blue {
  background-color: var(--blue-color);
}
